.footer__info {
  font-size: 1rem;
  font-weight: 400;
}

.fun-fact {
  &__title {
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
  }

  &__data {
    font-size: 6.25rem;
    font-weight: 200;
  }
}

.portfolio__title {
  padding: 0.25em 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.services {
  &__description {
    text-align: center;
    font-size: 1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5em 0;
  }
}

.knowledge__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.about-me__desc {
  text-align: center;

  @media (min-width: 950px) {
    width: 50%;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
  }
}

.main {
  &__title {
    font-size: 2.875rem;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 1.375rem;
    font-weight: 400;
  }
}

.nav {
  &__list {
    list-style: none;
  }

  .nav__el {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;

    @media (min-width: 950px) {
      padding: 0;
      padding-right: 1.5em;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 2rem;
    padding: 0.25em 0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    @media (min-width: 950px) {
      font-size: 1rem;
    }

    &:hover {
      border-bottom: 2px solid $lighterBlack;
    }
  }
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}

.footer__info,
.portfolio__title,
.fun-fact__data,
.fun-fact__title {
  color: $white;
}

p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $lighterBlack;
}
