// typography
.footer__info {
  color: $white;
  font-size: 1rem;
  font-weight: 400;
}

.fun-fact__data,
.fun-fact__title {
  color: $white;
}

.fun-fact__title {
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
}

.fun-fact__data {
  font-size: 6.25rem;
  font-weight: 200;
}

.portfolio__title {
  color: $white;
  padding: 0.25em 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.services__description {
  text-align: center;
  font-size: 1rem;
}

.services__title {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5em 0;
}

.knowledge__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
  }
}

.main__title {
  font-size: 2.875rem;
  font-weight: 700;
}

.main__subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 1.375rem;
  font-weight: 400;
}

.nav__list {
  list-style: none;
}

.nav__el {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;

  @media (min-width: 950px) {
    padding: 0;
    padding-right: 1.5em;

    &:last-child {
      padding-right: 0;
    }
  }
}

.nav__link {
  font-weight: 400;
  font-size: 2rem;
  padding: 0.25em 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;

  @media (min-width: 950px) {
    font-size: 1rem;
  }

  &:hover {
    border-bottom: 2px solid $lighterBlack;
  }
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}

p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $lighterBlack;
}

// sections
section {
  padding: 1em 1.5em;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

// buttons
.btn {
  padding: 0.5em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;

  &-light {
    color: $black;
    background-color: $white;
    border: 1px solid $lighterBlack;
  }

  &-dark {
    color: $white;
    background-color: $lighterBlack;
    border: 1px solid $lighterBlack;
  }

  &-shadow {
    box-shadow: -0.7px 10px 18px rgba(0, 0, 0, 0.15);
  }
}

// hamburger
.hamburger {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
  transition: transform 0.3s ease-in-out;

  @media (min-width: 950px) {
    display: none;
  }
}

.hamburger__box {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 4px;
  background-color: $black;
  position: absolute;
  transition: background-color 0.3s 0.1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 4px;
  background-color: $black;
  position: absolute;
  left: 0;
  transition: 0.3s ease-in-out;

  content: "";
}

.hamburger__inner::before {
  top: -14px;
}

.hamburger__inner::after {
  top: 14px;
}

.hamburger--active {
  transform: translateX(250px);

  .hamburger__inner {
    background-color: transparent;
  }

  .hamburger__inner::before {
    transform: rotate(45deg);
    top: 0;
  }

  .hamburger__inner::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

// header
.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

// navigation
.nav {
  width: 100%;
  height: 100vh;
  background-color: $white;
  position: absolute;
  transform: translateY(-100vh);
  top: 0;
  left: 0;

  @media (min-width: 950px) {
    transform: translateY(0vh);
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.nav__list {
  height: 100%;

  @media (min-width: 950px) {
    display: flex;
  }
}

.active {
  border-bottom: 2px solid $lighterBlack;
}

// main
.main {
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 950px) {
    min-height: 800px;
    align-items: flex-start;

    &__content {
      margin-left: 5em;
    }

    &__hero {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.main__pattern {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  &::before {
    width: 33%;
    height: 61%;
    display: inline-block;
    background-color: transparent;
    border: 1.125em solid $gray;
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 14%;
    left: -10%;
  }

  &::after {
    width: 21%;
    height: 47%;
    display: none;
    background-color: transparent;
    border: 1.125em solid $white;
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 21%;
    right: -5%;
  }

  @media (min-width: 950px) {
    background: linear-gradient(
      to right,
      $white 0%,
      $white 53%,
      $lighterGray 53%,
      $lighterGray 100%
    );

    &::after {
      display: inline-block;
    }
  }
}

// knowledge
.knowledge {
  min-height: 450px;
}

.knowledge__skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 310px;
  width: 75%;
}

.knowledge__skill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.knowledge__bar {
  width: 100%;
  height: 10px;
  overflow: hidden;
  position: relative;
  background-color: $gainsboro;
}

.knowledge__bar span {
  height: 100%;
  display: block;
  width: 0;
  color: $lighterBlack;
  line-height: 10px;
  position: absolute;
}

// services
.services {
  background: url("../assets/img/img-1.jpg") no-repeat center center;
  position: relative;
}

.services::after {
  position: absolute;
  content: " ";
  left: 0;
  top: 50%;
  height: 50%;
  right: 0;
  background-color: $white;
  z-index: 0;
}

.services__content,
.services__technologies,
.services__technology {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__content {
  justify-content: space-between;
  min-height: 850px;

  background-color: $white;
  padding: 2em 3em;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.services__technologies {
  flex: 2;
  justify-content: space-around;
}

.services__technology {
  justify-content: center;
}

// portfolio
.portfolio__projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 1850px;
}

.portfolio__project {
  height: 280px;
  width: 50%;

  position: relative;
  display: inline-block;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: none;
  }

  &::before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  &::after {
    width: 64%;
    height: 69%;
    border: 0.5rem solid $white;
    top: 23%;
    left: -29%;
  }
}

.porfolio__img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.portfolio__content {
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 1;
  display: none;
}

// fun-fact
.fun-fact {
  background: url("../assets/img/img.jpg") no-repeat center center;
  padding: 4em 0;
}

.fun-fact__fact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// contact
.contact__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}

.contact__row {
  width: 100%;
}

.contact__input,
.contact__message {
  width: 100%;
  border: none;
  border-bottom: 1px solid $black;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 400;

  &::placeholder {
    color: $black;
  }
}

.contact__message {
  min-height: 70px;
}

// footer
.footer {
  background-color: $lighterBlack;
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
}
